@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007af3;
    --primary-color-900: #00478d;
    --white--300: #f2f2f2;
    --white--800: #585858;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor:pointer;
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    display: none;
    text-align: left;
}

.hero-mobile {
    text-align: left;
    padding: 2em 3em;

    .image-cropper {
        margin: 1.5em auto;
        margin-bottom: 5em;
    }
}

.left-col {

    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .25em;
    }

    h1 {
        font-size: 2.5em;
        line-height: .4em;
        margin-top: .2em;
    }
    
    .job-title {
        margin-top: 2.5em;
    }

    p {
        line-height: .5em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
        }
    }
}

.image-cropper {
    display: block;
    width: 20em;
    height: 20em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.hero-img {
    display: inline;
    margin: 0 auto;
    // margin-right: -25%; //centers the image
    width: 100%;
    height: auto;
}

section.features-section {
    background: #20282e;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}

.gradient-overlay:hover {
    cursor: pointer;
    position: relative;

    &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
}

.gradient-overlay:hover .text {
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin: 1em;
}

.text{ 
    display: none;
    bottom: 0;
}

.features-section img {
    // display: none;
    width: 100%;
}

.project-title {

    h2 {
        color: white;
        text-align: center;
    }
   
}

.projects-section {
    background: var(--primary-color);
    color: white;

    li {
        // background: #006bd6;
        // background-image: url("../images/amazely_3.gif");
        // background-repeat: no-repeat;
        text-align: center;
        // padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        // border-radius: 1em;

        .card {
            background-repeat: no-repeat;
            background-size: cover;
            padding: 2em 1em;
            // margin: 0 auto 5em auto;
            border-radius: .5em;
            padding: 8rem 0 0;
            text-align: left;
            overflow: hidden;
            height: 35ch;

            transition: transform 500ms ease;

            &:hover, &:focus-within {
                transform: scale(1.05);
            }

            &:hover h2::after, &:focus-within h2::after {
                transform: scaleX(1);
            }

            

           

            &:hover .card-content > *:not(h2), &:focus-within .card-content > *:not(h2) {
                opacity: 1;
                transition-delay: 500ms;
                
            }
        }

        

        .card-content {
            --padding: 1.5rem;
            padding: var(--padding);
            background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            border-radius: .5em;
            
        }

        @media (hover) {
            .card {
                height: 30ch;
            }

            .card-content {
                transform: translateY(65%);
                transition: transform 500ms ease;
            }

            .card:hover .card-content, .card:focus-within .card-content {
                transform: translateY(0);
                transition-delay: 500ms;
            }

            .card:focus-within .card-content {
                transition-duration: 0ms;
            }

            .card-content > *:not(h2) {
                opacity: 0;
                transition: opacity 1000ms linear;
            }

            .card-content h2::after {
                transform: scaleX(0);
            }
        }
        
        img {
            width: 5em;
            height: 5em;
            // border: 5px solid #006bd6;
            border-radius: 0%;
            margin-top: -4.5em;
        }

        p, h2 , a{
            margin: 0;
            margin-top: 0.5em;
        }

        h2 {
            color: white;
            position: relative;
            width: max-content;

            &::after {
                content: "";
                position: absolute;
                left: calc(var(--padding) * -1);
                bottom: 0;
                height: 4px;
                width: calc(100% + var(--padding));
                background: var(--primary-color);

                transform-origin: left;
                transition: transform 500ms ease;
            }

        }

        .learn-more {
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: black;
            background-color: var(--white--300);
            padding: 0.5em 1.25em;
            margin-top: 1.5em;
            border-radius: .25em;
            bottom: 0;

            &:hover, &:focus {
                background-color: white;
            }
        }

    }

}

#project-1 {
    background-image: url("../images/amazely_1.gif");
}
#project-2 {
    background-image: url("../images/boid_1.gif");
}
#project-3 {
    background-image: url("../images/shopalert_1.png");
}

.about-section {
    h2 {
        color: #808080;
    }
}

.contact-section {
    background: var(--white--800);

    h2 {
        color: white;
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20282e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color:white;
            }
        }
    }

}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 100%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;
        
        li {
            font-size: 1.4em;

            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }

    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .projects-section ul{
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1450px) {
    .features-section {
        
        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}